/***COLORS***/
$dark: #a3a3a3;
$orange: #ec774b;
$red: #e16c6c;
$purple: #c389ce;
$black: #404548;
$black2: #495052;
$white: #ffffff;
$white-border: #f1f1f1;
$facebook: #3b5998;
$youtube: #cd201f;
$google: #dd4b39;

$text-color-1: #a4a4a4;
$text-color-2: #868585;


/***GENERAL***/
body {
  font-family: 'Raleway', sans-serif;
}

.p25-right {
  padding-right: 25px;
}

/***NAVIGATION***/
.navigation-container {
  > :before {
    content: "";
    float: left;
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, #74cee4 0%,#66ce9c 16%,#edbf47 32%,#ec774b 49%,#74cee4 65%,#66ce9c 83%,#edbf47 100%);
  }

  .navigation-section {
    background-color: $white; 
    width: 100%;
    border-bottom: 1px solid $white-border ;
    color: $dark;
    nav {
      padding: 15px;
      li {
        padding: 8px;
        a {
          padding: 0px;
          padding-top: 5px;
        }
      }
    }
  }
}
.top-header {
  font-size: 13px;
  background-color: $black2;
  color: $white;
  a {
    color: $white;
  }
}

/***FOOTER***/
.sub-footer {
  background-color: $black2;
  color: $white;
  font-size: 14px;
  .row {
    padding: 35px 0px;
  }

  .elementor a {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
  }
  .elementor-shape-rounded .elementor-icon.elementor-social-icon {
    -webkit-border-radius: 10%;
    border-radius: 10%;
  }
  .elementor-social-icon {
    font-size: 18px;
  }
  .elementor-animation-shrink {
    transition-duration: .3s;
    transition-property: transform;
  }
  .elementor-social-icon-facebook {
      background-color: $facebook;
  }
  .elementor-social-icon-youtube {
      background-color: $youtube;
  }
  .elementor-social-icon-google {
      background-color: $google;
  }
  .elementor-social-icon {
      text-align: center;
      padding: .5em;
      margin-right: 5px;
      cursor: pointer;
  }
  .elementor-icon {
    display: inline-block;
    line-height: 1;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: #818a91;
    text-align: center;
    border-radius: 10%;
    i {
      width: 1em;
      height: 1em;
      position: relative;
      display: block;
    }
  }
}

footer {
  background-color: $black;
  color: $white;
  font-size: 14px;
  line-height: 27px;
  .row {
    padding: 15px 0px;
  }
}

/***OVERWRITE***/

/***HOME***/
.home-course-list {
  padding: 25px;
  img {
    width: 100%;
  }
  .row {
    padding: 15px;
  }
}

.home-benefit {
  background-color: $black2;
}

/***COURSES***/
.banner-img {
  height: 315px;
  background-image: url('../images/parallax-2.jpg');
  background-position: center;
}

/***ABOUT US***/

/***SERVICES***/

/***NEWS***/

/***CONTACT***/